root = true

[*]
indent_style = tab
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.gd]
# GDScript specific settings
indent_size = 4
indent_style = tab

[*.tscn]
# Godot scene files
indent_size = 4
indent_style = tab
