[gdscript]
# Naming Conventions
constant_name_style = UPPER_CASE
function_name_style = snake_case
signal_name_style = snake_case
node_name_style = PascalCase
class_name_style = PascalCase

# Formatting
indent_type = tabs
indent_size = 4

# Line Length
max_line_length = 100

# Spaces
space_around_operators = true
space_after_comma = true
space_after_for_semicolon = true
space_before_for_semicolon = false
space_between_empty_braces = false
space_between_empty_brackets = false
